@tailwind base;
@tailwind components;
@tailwind utilities;



.mobile-menu-header {
    clip-path: polygon(0 0, 100% 0, 100% 52%, 6% 100%, 0 100%);
}

.left-arrow { 
    clip-path: polygon(100% 10%, 10% 18%, 100% 80%); 
}

.right-arrow { 
    clip-path: polygon(9% 100%, 6% 0%, 100% 0%); 
}

.firstRank {
    background-color: #5b5be6 !important;
}

.active {
    @apply bg-gradient-to-tl from-[#839ef7] to-[#f8bef6] rounded-full text-white;
}

.income {
    @apply bg-[#7073fc] h-1 rotate-90 p-1 rounded-full;
}

.expense {
    @apply bg-[#e67bb2] h-1 rotate-90 rounded-full p-[0.125rem];
}

.expense-box {
    box-shadow: -1.25rem -1rem 2px 1px #9dbaf6;
}

.birthday-card {
    box-shadow: 3rem 3rem 10px 0.5px rgba(1, 1, 1, 0.08);
}