@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
.mobile-menu-header {
    clip-path: polygon(0 0, 100% 0, 100% 52%, 6% 100%, 0 100%);
}

.left-arrow { 
    clip-path: polygon(100% 10%, 10% 18%, 100% 80%); 
}

.right-arrow { 
    clip-path: polygon(9% 100%, 6% 0%, 100% 0%); 
}

.firstRank {
    background-color: #5b5be6 !important;
}

.active {
    @apply bg-gradient-to-tl from-[#839ef7] to-[#f8bef6] rounded-full text-white;
}

.income {
    @apply bg-[#7073fc] h-1 rotate-90 p-1 rounded-full;
}

.expense {
    @apply bg-[#e67bb2] h-1 rotate-90 rounded-full p-[0.125rem];
}

.expense-box {
    box-shadow: -1.25rem -1rem 2px 1px #9dbaf6;
}

.birthday-card {
    box-shadow: 3rem 3rem 10px 0.5px rgba(1, 1, 1, 0.08);
}




/* Add CSS here */

/* First Slider */
 /* .range-slider {
    max-width: 100%;
    position: relative;
    display: flex;
} 

 .slider-1 {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 340px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#121d4c, #121d4c);
  background-size: 70% 100%;
  background-repeat: no-repeat;
} */

/* Input Thumb */
/* .slider-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-1::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-1::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
} */

/* Input Track */
/* .slider-1::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-1::-moz-range-track {
  -webkit-appearance: none;

} */
/* Second slider */
/*
.slider-2 {
 -webkit-appearance: none;
  margin-right: 15px;
  width: 340px;
  height: 25px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#121d4c, #121d4c);
  background-size: 60% 100%;
  background-repeat: no-repeat;
}
.slider-2:focus {
  outline: none;
}
.slider-2::-webkit-slider-runnable-track {
   width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;  
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  
} 
.slider-2::-webkit-slider-thumb {
  height: 33px;
  width: 48px;
  border-radius: 35px;
  background: #121d4c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5px;
  transition: background .3s ease-in-out;
} */ 

.Job_position{
  @apply col-span-2 font-bold
}

.Job_location {
  @apply flex items-center gap-1 col-span-2
}

.Job_type {
  @apply col-span-2
}