@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
.mobile-menu-header {
    clip-path: polygon(0 0, 100% 0, 100% 52%, 6% 100%, 0 100%);
}

.left-arrow { 
    clip-path: polygon(100% 10%, 10% 18%, 100% 80%); 
}

.right-arrow { 
    clip-path: polygon(9% 100%, 6% 0%, 100% 0%); 
}

.firstRank {
    background-color: #5b5be6 !important;
}

.active {
    @apply bg-gradient-to-tl from-[#839ef7] to-[#f8bef6] rounded-full text-white;
}

.income {
    @apply bg-[#7073fc] h-1 rotate-90 p-1 rounded-full;
}

.expense {
    @apply bg-[#e67bb2] h-1 rotate-90 rounded-full p-[0.125rem];
}

.expense-box {
    box-shadow: -1.25rem -1rem 2px 1px #9dbaf6;
}

.birthday-card {
    box-shadow: 3rem 3rem 10px 0.5px rgba(1, 1, 1, 0.08);
}




/* Add CSS here */

/* First Slider */
 /* .range-slider {
    max-width: 100%;
    position: relative;
    display: flex;
} 

 .slider-1 {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 340px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#121d4c, #121d4c);
  background-size: 70% 100%;
  background-repeat: no-repeat;
} */

/* Input Thumb */
/* .slider-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-1::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.slider-1::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #121d4c;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
} */

/* Input Track */
/* .slider-1::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-1::-moz-range-track {
  -webkit-appearance: none;

} */
/* Second slider */
/*
.slider-2 {
 -webkit-appearance: none;
  margin-right: 15px;
  width: 340px;
  height: 25px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#121d4c, #121d4c);
  background-size: 60% 100%;
  background-repeat: no-repeat;
}
.slider-2:focus {
  outline: none;
}
.slider-2::-webkit-slider-runnable-track {
   width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;  
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  
} 
.slider-2::-webkit-slider-thumb {
  height: 33px;
  width: 48px;
  border-radius: 35px;
  background: #121d4c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5px;
  transition: background .3s ease-in-out;
} */ 

/* .Job_position{
  @apply col-span-2 font-bold
}

.Job_location {
  @apply flex items-center gap-1 col-span-2
}

.Job_type {
  @apply col-span-2
}

.job_alert{
  @apply grid grid-cols-2 sm:grid-cols-7 gap-2 rounded-lg bg-white my-3 py-5
   px-3 hover:shadow-2xl  hover:bg-slate-600 cursor-pointer hover:text-white
   hover:scale-[1.02]
} */

/* 
.Tv-screen{
    height: 45px;
    overflow: hidden; 
}
.Tv-screen::after{
    content: "";
    border: 1px solid transparent;
    border-bottom-color: #5a889d !important;
    width: 90%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: 51%;
    transform: translate(-50%);
    box-shadow: inset 0px 0px 8px 0px #5a889d;

} */

/* .active {
  background: #10182f !important; 
  color:white;
} */


/* @media (min-width: 600px) {
 .pricing{
  position: relative;
}

.pricing::after{
    content: "";
    position: absolute;
    bottom: -4.5rem;
    left: -13%;
    background: rgb(153,26,34,0.8);
    width: 125%;
    height: 10rem;
    border-radius: 50%;
    z-index: -1;
}
} */

/* body {
  background: radial-gradient(circle,rgba(61, 196, 192, 1) 8%,rgba(39, 153, 158, 1) 51%,rgba(19, 130, 144, 1) 88%);

}

.label::before
  content: "";
  width:00px;
  height: 00px;
  position: absolute;
  top: -0.32rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  border-inline-start: 0.35rem solid  #005164;
  border-inline-end: 0.35rem solid transparent;
  border-block-start: 0.35rem solid #005164;
  border-block-end: 0.35rem solid transparent;
 
} */

/* .circle {
  width: 7.5rem;
  height: 7.5rem;
  background: conic-gradient(#ecbb00 36deg, #8068fa 36deg 170deg, #00e7c0 170deg);
  border-radius: 50%;

}
*/
/* .rotation {
    animation-name: rotation;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out; 
}

@keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(720deg);
    }
} 

.tooltip1 {
  bottom: -13rem;
  left:-2.5rem;
  color: white;
  background: #1d1a36;
}

.tooltip2 {
  top: 11rem; 
  right:4rem;
  background: white;
  color: #1d1a36 !important;
}

.arrow1{
  bottom: -0.5rem;
  left: 50%;
  background: #1d1a36;
}

.arrow2{
  right: -0.5rem;
  top: 50%;
  background: white;
} 
*/
 /* .modal {
  display: none;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

body {
  background: url('https://cutewallpaper.org/21/narcos-season-3-wallpapers/Narcos-Character-Gustavo-Vertical-Layered-All-Languages-.jpg');
  background-size: 50% 100%;
  background-position: top 40% right -8em;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0.5);
}


@media screen and (max-width: 1300px) {
  body {
    background: url('https://cutewallpaper.org/21/narcos-season-3-wallpapers/Narcos-Character-Gustavo-Vertical-Layered-All-Languages-.jpg');
    background-size: 160% 100%;
    background-position: top 40% right -8em;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0.5)
  }
} */

/* .verifiedBadge:hover .badge {
  display: block;
} */

.menuDarkMode {
  @apply bg-slate-900 text-slate-200
}

.bodyDarkMode {
  @apply bg-white
}

.gotoAppDarkMode {
  @apply hover:bg-white hover:text-slate-900 shadow-none
}
